*.csv
!files/*.csv

*.pkl
!files/*.pkl
!data/ml_data/*.pkl

*.pickle
!files/*.pickle

*.log
*.tmp
*.json

__pycache__/
*.py[cod]

data/ARCHIVE/
data/solver_selection/
data/results/*.png
scripts/ARCHIVE
notebooks/ARCHIVE
